workspace-sf/force-app/main/default/flows/Atualizar_Status_Contrato_Renovado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Configurar_Registro_Para_Atualizacao</name>
        <label>Configiurar Registro Para Atualização</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>RegisroContratoRenovado.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Contrato_Renovado.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegisroContratoRenovado.StatusRenovacao__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renovação em andamento</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_Satus_Renovacao_Contrato_Renovado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Encontrei_Contrato_Renovado</name>
        <label>Encontrou Contrato Renovado ?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Não Encontrei</defaultConnectorLabel>
        <rules>
            <name>Encontrei</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Contrato_Renovado.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Configurar_Registro_Para_Atualizacao</targetReference>
            </connector>
            <label>Encontrei</label>
        </rules>
    </decisions>
    <description>Correção de status de Atualização</description>
    <environments>Default</environments>
    <interviewLabel>Atualizar Status Contrato Renovado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualizar Status Contrato Renovado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Contrato_Renovado</name>
        <label>Obter Contrato Renovado</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrei_Contrato_Renovado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContratoRenovado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StatusRenovacao__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Satus_Renovacao_Contrato_Renovado</name>
        <label>Atualizar Satus Renovação Contrato Renovado</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Atualizar_Status_Renovacao_Contrato</targetReference>
        </connector>
        <inputReference>RegisroContratoRenovado</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Status_Renovacao_Contrato</name>
        <label>Atualizar Status Renovação do Contrato</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StatusRenovacao__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Não Renovado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Novo</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StatusRenovacao__c</field>
            <value>
                <stringValue>Renovação em andamento</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Contrato_Renovado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContratoRenovado__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renovacao</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>RegisroContratoRenovado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
