workspace-sf/force-app/main/default/flows/Atualizar_Contrato_Inicial_Endosso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Verificar_Existencia_Contrato_Inicial</name>
        <label>Verificar Existencia Contrato Inicial</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Não Encontrei</defaultConnectorLabel>
        <rules>
            <name>Encontrei</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Contrato_Inicial_Endosso.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Contrato_Inicial_0</targetReference>
            </connector>
            <label>Encontrei</label>
        </rules>
    </decisions>
    <interviewLabel>Atualizar Contrato Inicial Endosso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualizar Contrato Inicial Endosso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Contrato_Inicial_Endosso</name>
        <label>Buscar Contrato Inicial Endosso</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verificar_Existencia_Contrato_Inicial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Empresa__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Empresa__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sucursal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sucursal__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CodigoRamo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CodigoRamo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NumeroApolice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NumeroApolice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Endosso__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Contrato_Inicial_0</name>
        <label>Atualizar Contrato Inicial</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>ContratoInicial__c</field>
            <value>
                <elementReference>Buscar_Contrato_Inicial_Endosso.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Contrato_Inicial_Endosso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Endosso__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
