workspace-sf/force-app/main/default/flows/Atualizar_Contratos_Renovados_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Preencher_Id_Contrato_Renovado</name>
        <label>Preencher Id Contrato Renovado</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>IdContrato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Registro_Contrato_Original.ContratoRenovado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_Primeiro_Contrato_Renovado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preencher_Id_Primeiro_Contrato_Renovacao</name>
        <label>Preencher Id Primeiro Contrato Renovacao</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>IdContrato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Registro_Contrato_Original.PrimeiroContratoRenovacao__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_Primeiro_Contrato_Renovado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Primeiro_Contrato_Renovacao_Preenchido</name>
        <label>Primeiro Contrato Renovacao Preenchido ?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Preencher_Id_Contrato_Renovado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Registro_Contrato_Original.PrimeiroContratoRenovacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preencher_Id_Primeiro_Contrato_Renovacao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Atualizar Contratos Renovados 3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualizar Contratos Renovados 3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Registro_Contrato_Original</name>
        <label>Obter Registro Contrato Original</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primeiro_Contrato_Renovacao_Preenchido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Registro_Contrato_Original.Proposta__r.ContratoRenovado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PrimeiroContratoRenovacao__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Primeiro_Contrato_Renovado</name>
        <label>Atualizar Primeiro Contrato Renovado</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>PrimeiroContratoRenovacao__c</field>
            <value>
                <elementReference>IdContrato</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Registro_Contrato_Original</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renovacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContratoRenovado__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Armazena o id do contrato renovado que será atualizado.</description>
        <name>IdContrato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
