workspace-sf/force-app/main/default/flows/Disparo_email_renovacao_atualizado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Envia email para o cliente</description>
        <name>Envia_email_cliente</name>
        <label>Envia email cliente</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>EnviaEmailCliente</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EnviaEmailCorretor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contratoId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>$Record.email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>linkApolice</name>
            <value>
                <elementReference>$Record.ApolicePdfDownloadUrl__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nome</name>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroApolice</name>
            <value>
                <elementReference>$Record.NumeroApolice__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>proposta</name>
            <value>
                <elementReference>$Record.Proposta__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vigenciaFinal</name>
            <value>
                <elementReference>$Record.VigenciaFinal__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Envia email para o corretor</description>
        <name>EnviaEmailCorretor</name>
        <label>EnviaEmailCorretor</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>EnviaEmailCorretor</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contratoId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>linkApolice</name>
            <value>
                <elementReference>$Record.ApolicePdfDownloadUrl__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nome</name>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numeroApolice</name>
            <value>
                <elementReference>$Record.NumeroApolice__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>proposta</name>
            <value>
                <elementReference>$Record.Proposta__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vigenciaFinal</name>
            <value>
                <elementReference>$Record.VigenciaFinal__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Disparo email renovacao atualizado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Disparo email renovacao atualizado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Envia_email_cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renovacao</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emitido</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
