workspace-sf/force-app/main/default/flows/Email_Renovacao_Falha_na_Integracao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_email_renovacao</name>
        <label>Enviar email renovacao</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Atualiza_data_de_envio</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Conta_Corretor.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Get_Conta_Corretor.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Renovação com Falha </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>teste2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Email_valido</name>
        <label>Email valido?</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Enviar_email_renovacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Conta_Corretor.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_procedimentos_critica</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enviar_Email</name>
        <label>Enviar email?</label>
        <locationX>380</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Não enviar</defaultConnectorLabel>
        <rules>
            <name>Enviar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Critica_Proposta.Proposta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Proposta.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Proposta.Empresa__r.CodigoEmpresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_forma_de_pagamento.Codigo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>62</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_forma_de_pagamento.Codigo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>97</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_valido</targetReference>
            </connector>
            <label>Enviar</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailEnviado</name>
        <dataType>Number</dataType>
        <expression>{!Get_Proposta.QuantidadeEnvioEmailCobranca__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Email Renovacao - Falha na Integracao {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Renovacao - Falha na Integracao</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Conta_Corretor</name>
        <label>Get Conta Corretor</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dados_Corretor.NomeCorretor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contratante_proposta</name>
        <label>Get contratante proposta</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_forma_de_pagamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proposta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proposta.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContratanteProposta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Critica_Proposta</name>
        <label>Get Critica Proposta</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Proposta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CriticaProposta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dados_Corretor</name>
        <label>Get Dados Corretor</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Conta_Corretor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proposta.CodigoCorretor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DadosCorretor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_forma_de_pagamento</name>
        <label>Get forma de pagamento</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enviar_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_contratante_proposta.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FormaPagamento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Critica_Proposta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fila_Renovacao</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposta</name>
        <label>Get Proposta</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dados_Corretor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Critica_Proposta.Proposta__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_template</name>
        <label>Get template</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contratante_proposta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lembrete_de_cartao_rejeitado_renovacao</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_data_de_envio</name>
        <label>Atualiza data envio email cobranca</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Atualiza_procedimentos_critica_sucesso</targetReference>
        </connector>
        <inputAssignments>
            <field>DataEnvioEmailCobranca__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantidadeEnvioEmailCobranca__c</field>
            <value>
                <elementReference>EmailEnviado</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Proposta__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_procedimentos_critica</name>
        <label>Atualiza procedimentos critica</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <inputAssignments>
            <field>Procedimento__c</field>
            <value>
                <stringValue>Falha no envio do e-mail de cobrança para o corretor.</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_procedimentos_critica_sucesso</name>
        <label>Atualiza procedimentos critica sucesso</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <inputAssignments>
            <field>Procedimento__c</field>
            <value>
                <stringValue>Email de cobrança enviado com sucesso.</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <filterLogic>((1 OR 2 OR 3 OR 4) AND 5) OR 6</filterLogic>
        <filters>
            <field>FalhaIntegracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>FalhaIntegracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>FalhaIntegracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>FalhaIntegracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Falha na Integração</stringValue>
            </value>
        </filters>
        <filters>
            <field>Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>12</stringValue>
            </value>
        </filters>
        <object>CriticaProposta__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>TemplateCobrancaRenovacao</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Renovação Falhou&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Prezado(a) {!Get_Conta_Corretor.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Lamentamos informar que a renovação da proposta&amp;nbsp;{!Get_Proposta.Name} não pôde ser concluída com sucesso.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, entre em contato com o cliente para verificar o motivo.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Estamos à disposição para ajudá-lo(a) e solucionar qualquer dúvida que possa ter.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Atenciosamente&lt;/p&gt;&lt;p&gt;Porto Seguro&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>teste2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Renovação Falhou&lt;/p&gt;&lt;p&gt;Prezado(a) {!Get_Conta_Corretor.Name},&lt;/p&gt;&lt;p&gt;Lamentamos informar que a renovação da proposta&amp;nbsp;{!Get_Proposta.Name} não pôde ser concluída com sucesso.&lt;/p&gt;&lt;p&gt;Por favor, entre em contato com o cliente para verificar o motivo.&lt;/p&gt;&lt;p&gt;Estamos à disposição para ajudá-lo(a) e solucionar qualquer dúvida que possa ter.&lt;/p&gt;&lt;p&gt;Atenciosamente&lt;/p&gt;&lt;p&gt;Porto Seguro&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>testeTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Renovação Falhou&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Prezado(a) {!Get_Conta_Corretor.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Lamentamos informar que a renovação da proposta&amp;nbsp;{!Get_Proposta.Name} não pôde ser concluída com sucesso.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Por favor, entre em contato com o cliente para verificar o motivo.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Estamos à disposição para ajudá-lo(a) e solucionar qualquer dúvida que possa ter.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Atenciosamente&lt;/p&gt;&lt;p&gt;Porto Seguro&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>testeTemplateteste</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Renovação Falhou&lt;/p&gt;&lt;p&gt;Prezado(a) {!Get_Conta_Corretor.Name},&lt;/p&gt;&lt;p&gt;Lamentamos informar que a renovação da proposta&amp;nbsp;{!Get_Proposta.Name} não pôde ser concluída com sucesso.&lt;/p&gt;&lt;p&gt;Por favor, entre em contato com o cliente para verificar o motivo.&lt;/p&gt;&lt;p&gt;Estamos à disposição para ajudá-lo(a) e solucionar qualquer dúvida que possa ter.&lt;/p&gt;&lt;p&gt;Atenciosamente&lt;/p&gt;&lt;p&gt;Porto Seguro&lt;/p&gt;</text>
    </textTemplates>
</Flow>
