workspace-sf/force-app/main/default/flows/Envia_cobranca_renovacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_email_cobranca_renovacao</name>
        <label>Enviar email cobranca renovacao</label>
        <locationX>446</locationX>
        <locationY>1224</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Atualiza_data_envio_email_cobranca</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Conta_Corretor.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Renovação com Falha teste</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CorpoEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>diasFalha</name>
        <label>Primeiro envio?</label>
        <locationX>446</locationX>
        <locationY>1440</locationY>
        <defaultConnector>
            <targetReference>Atualizaprocedimentoscriticasucesso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim_Enviar</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>getCriticaProposta.FalhaIntegracao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Proposta_da_critica.QuantidadeEnvioEmailCobranca__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getCriticaProposta.FalhaIntegracao__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_data_falha_na_integracao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_valido</name>
        <label>Email valido?</label>
        <locationX>248</locationX>
        <locationY>1116</locationY>
        <defaultConnector>
            <targetReference>Enviar_email_cobranca_renovacao</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Conta_Corretor.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_procedimentos_critica</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enviar_Email</name>
        <label>Enviar Email?</label>
        <locationX>545</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Não Enviar</defaultConnectorLabel>
        <rules>
            <name>Enviar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Proposta_da_critica.Empresa__r.CodigoEmpresa__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_forma_de_pagamento.Codigo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>62</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_forma_de_pagamento.Codigo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>97</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_valido</targetReference>
            </connector>
            <label>Enviar</label>
        </rules>
    </decisions>
    <formulas>
        <name>ContadorEmail</name>
        <dataType>Number</dataType>
        <expression>{!Get_Proposta_da_critica.QuantidadeEnvioEmailCobranca__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Envia cobrança renovação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Envia cobrança renovação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Conta_Corretor</name>
        <label>Get Conta Corretor</label>
        <locationX>545</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contratante_proposta</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Dados_Corretor.NomeCorretor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contratante_proposta</name>
        <label>Get contratante proposta</label>
        <locationX>545</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_forma_de_pagamento</targetReference>
        </connector>
        <filters>
            <field>Proposta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proposta_da_critica.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContratanteProposta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dados_Corretor</name>
        <label>Get Dados Corretor</label>
        <locationX>545</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Conta_Corretor</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proposta_da_critica.CodigoCorretor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DadosCorretor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_forma_de_pagamento</name>
        <label>Get forma de pagamento</label>
        <locationX>545</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enviar_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_contratante_proposta.FormaPagamento__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FormaPagamento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposta_da_critica</name>
        <label>Get Proposta da critica</label>
        <locationX>545</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dados_Corretor</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCriticaProposta.Proposta__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCriticaProposta</name>
        <label>getCriticaProposta</label>
        <locationX>545</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Proposta_da_critica</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getGroup.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CriticaProposta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGroup</name>
        <label>getGroup</label>
        <locationX>545</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCriticaProposta</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fila_Renovacao</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_data_envio_email_cobranca</name>
        <label>Atualiza data envio email cobranca</label>
        <locationX>446</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>diasFalha</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proposta_da_critica.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DataEnvioEmailCobranca__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantidadeEnvioEmailCobranca__c</field>
            <value>
                <elementReference>ContadorEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_data_falha_na_integracao</name>
        <label>Atualiza data falha na integração</label>
        <locationX>314</locationX>
        <locationY>1548</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FalhaIntegracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DataFalhaIntegracao__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedimento__c</field>
            <value>
                <stringValue>Email de cobrança enviado com sucesso.</stringValue>
            </value>
        </inputAssignments>
        <object>CriticaProposta__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_procedimentos_critica</name>
        <label>Atualiza procedimentos critica</label>
        <locationX>50</locationX>
        <locationY>1224</locationY>
        <inputAssignments>
            <field>Procedimento__c</field>
            <value>
                <stringValue>Falha no envio do e-mail de cobrança para o corretor.</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizaprocedimentoscriticasucesso</name>
        <label>Atualiza procedimentos critica sucesso</label>
        <locationX>578</locationX>
        <locationY>1548</locationY>
        <inputAssignments>
            <field>Procedimento__c</field>
            <value>
                <stringValue>Email de cobrança enviado com sucesso.</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getGroup</targetReference>
        </connector>
        <filters>
            <field>FalhaIntegracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DiasFalhaIntegracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DiasFalhaIntegracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DiasFalhaIntegracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Falha na Integração</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendenciado</stringValue>
            </value>
        </filters>
        <filters>
            <field>MomentoAnalise__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Palavra final</stringValue>
            </value>
        </filters>
        <filters>
            <field>DataFalhaIntegracao__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FalhaIntegracao__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>CriticaProposta__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-08-21</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CorpoEmail</name>
        <text>&lt;p&gt;Renovação Falhou&lt;/p&gt;&lt;p&gt;Prezado(a) {!Get_Conta_Corretor.Name},&lt;/p&gt;&lt;p&gt;Lamentamos informar que a renovação da proposta&amp;nbsp;{!Get_Proposta_da_critica.Name} não pôde ser concluída com sucesso.&lt;/p&gt;&lt;p&gt;Por favor, entre em contato com o cliente para verificar o motivo.&lt;/p&gt;&lt;p&gt;Estamos à disposição para ajudá-lo(a) e solucionar qualquer dúvida que possa ter.&lt;/p&gt;&lt;p&gt;Atenciosamente&lt;/p&gt;&lt;p&gt;Porto Seguro&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailCorretor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Conta_Corretor.Email__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>idCritica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0P8900000Am0g8EAB</stringValue>
        </value>
    </variables>
    <variables>
        <name>IdFilaRenovacao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00G89000001zAGPEA2</stringValue>
        </value>
    </variables>
    <variables>
        <name>IdProposta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusCritica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00XL0000000ucEqMAI</stringValue>
        </value>
    </variables>
</Flow>
