workspace-sf/force-app/main/default/flows/Massificados_Sinistro_Aviso_Pesquisa_Fila.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Encontra_FIla</name>
        <label>Encontra FIla</label>
        <locationX>333</locationX>
        <locationY>108</locationY>
        <defaultConnectorLabel>[Resultado padrão]</defaultConnectorLabel>
        <rules>
            <name>Possui_Fila</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdDaFila</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Caso</targetReference>
            </connector>
            <label>Possui Fila</label>
        </rules>
    </decisions>
    <interviewLabel>[Massificados Sinistro Aviso] Pesquisa Fila {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Massificados Sinistro Aviso] Pesquisa Fila</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pesquisa_Fila</name>
        <label>Pesquisa Fila</label>
        <locationX>180</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontra_FIla</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NomeDaFila</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>IdDaFila</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Caso</name>
        <label>Atualiza Caso</label>
        <locationX>594</locationX>
        <locationY>107</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdDoCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdDaFila</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Pesquisa_Fila</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdDaFila</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdDoCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NomeDaFila</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
