workspace-sf/force-app/main/default/flows/Sinistro_Vida_Pesquisar_Direito.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Encontra_Direito</name>
        <label>Encontra Direito</label>
        <locationX>427</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>[Resultado padrão]</defaultConnectorLabel>
        <rules>
            <name>Possui_Direito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id_direito</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Caso</targetReference>
            </connector>
            <label>Possui Direito</label>
        </rules>
    </decisions>
    <interviewLabel>Massificados Sinistro Aviso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Massificados Sinistro Aviso</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pesquisa_Direito</name>
        <label>Pesquisa Direito</label>
        <locationX>279</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontra_Direito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NOME_DIREITO</elementReference>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>id_direito</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Caso</name>
        <label>Atualiza Caso</label>
        <locationX>660</locationX>
        <locationY>54</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID_CASO</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>id_direito</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Pesquisa_Direito</startElementReference>
    <status>Active</status>
    <variables>
        <name>ID_CASO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>id_direito</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NOME_DIREITO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
