workspace-sf/force-app/main/default/flows/Tarefa_Finalizada_desmarca_o_Parado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Todas_finalizadas</name>
        <label>Todas estão finalizadas</label>
        <locationX>428</locationX>
        <locationY>266</locationY>
        <defaultConnector>
            <targetReference>Manter_istopped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado padrão]</defaultConnectorLabel>
        <rules>
            <name>Finalizada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tarefa.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atualiza_ai</targetReference>
            </connector>
            <label>Finalizada</label>
        </rules>
    </decisions>
    <description>Atualização de flag &quot;PendenciasFinalizadas__c&quot; para criação de marco de 10 dias para análise de pendências.</description>
    <interviewLabel>[Massificados Sinistro Aviso] Tarefa Finalizada desmarca SLA Parado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Massificados Sinistro Aviso] Tarefa Finalizada desmarca SLA Parado</label>
    <loops>
        <name>Passa_por_todos</name>
        <label>Passa por todos</label>
        <locationX>197</locationX>
        <locationY>182</locationY>
        <assignNextValueToReference>Tarefa</assignNextValueToReference>
        <collectionReference>Tarefas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Todas_finalizadas</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Pesquisa_Tarefa_Caso_Tipo_Pendencia</name>
        <label>Pesquisa Tarefa de Caso (Tipo Pendencia)</label>
        <locationX>197</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Passa_por_todos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TipoComunicado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendência</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_Caso</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>Tarefas</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WhatId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>atualiza_ai</name>
        <label>atualiza ai</label>
        <locationX>197</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Passa_por_todos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tarefa.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsStopped</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PendenciasFinalizadas__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Dependente__c</field>
            <value>
                <stringValue>Em Análise</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Manter_istopped</name>
        <label>Manter istopped</label>
        <locationX>437</locationX>
        <locationY>63</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tarefa.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsStopped</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>57</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Pesquisa_Tarefa_Caso_Tipo_Pendencia</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id_Caso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Tarefa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Tarefas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
