workspace-sf/force-app/main/default/flows/testeAle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TesteAle</name>
        <label>Teste envio vidaOn</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <actionName>Contract.NotificaLinkParaDownloadApoliceVidaOn</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>testeNovo</name>
        <label>testeNovo</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <actionName>Contract.NotificaLinkParaDownloadApoliceVidaOn</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TesteAle</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>testeAle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testeAle2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>testeNovo</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND({!$Record.Produto__r.CodigoPrecificaProduto__c}= &apos;VIDA_ON&apos;,  
NOT(ISPICKVAL({!$Record.Status}, &apos;Cancelado&apos;)),
ISPICKVAL({!$Record.Tipo__c}, &apos;Novo&apos;))</filterFormula>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>TesteAle</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
